@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: logo;
    src: url("./fonts/xirod.regular.otf")format("woff2");
}
@font-face {
    font-family: hero ;
    src: url('./assets/montserrat.black.ttf');
}

.mainhero{
    background-color: #060020;
background-image: radial-gradient(at 10% 66%, #24205f 0%, transparent 60%), radial-gradient(at 89% 7%, #002827 0%, transparent 50%), radial-gradient(at 15% 84%, #040014 0%, transparent 40%), radial-gradient(at 2% 27%, #3b289c 0%, transparent 30%);
}

.top{
    border-radius: 0px 0px 96px 93px;
-webkit-border-radius: 0px 0px 96px 93px;
-moz-border-radius: 0px 0px 96px 93px;
}

.top1{
    border-radius: 0px 0px 96px 93px;
-webkit-border-radius: 0px 0px 96px 93px;
-moz-border-radius: 0px 0px 96px 93px;
}

